.product_name input{
	width: 500px;
}
.product_name_en input{
	width: 500px;
}

.full-height{
    height: 100%;
}

.tab-content {
	padding-top: 10px;
}

div#page-wrapper {
	padding-top: 10px;
}

.banner_preview img,
.banner_preview canvas {
	width: 150px;
	height: 75px;
}

.cat_title_preview img,
.cat_title_preview canvas {
	width: 150px;
	height: 75px;
}

.cat_preview img,
.cat_preview canvas {
	width: 100px;
	height: 100px;
}

.cat_code{
	width: 70px;
}
.cat_name{
	width: 200px;
}

.banner_link {
	width: 500px;
}
.banner_sort {
	width: 25px;
}

.input_extra_charge_name {
	width: 300px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.btn-xlarge {
    padding: 8px 30px 8px 30px;
    font-size: 18px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.col-xs-12{
	line-height:35px;
}
.col-md-12{
	line-height:35px;
}

.co_image img{
	width: 150px;
	height: 150px;
}

.order{
	width:1024px;
	border-collapse: collapse;
	padding:10px
}
.order img{
	width: 150px;
	height: 150px;
}
.order, .order th, .order td{
	border: 1px solid black;
}


.seo_input{
	width: 80%;
	height: 80px;
}
